*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: lightblue;
}

header img{
    height: 50px;
    width: 50px;
}

.music-box{
    padding: 20px 0px;
}

.music-box img{
    height: 200px;
}
